<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CINE_GT.Properties.Settings.CINE_GTConnectionString"
            connectionString="Data Source=LAPTOP-E3AMJ72E\SQLEXPRESS;Initial Catalog=CINE_GT;Persist Security Info=True;User ID=CINE_GT_APP_USER;Password=CINE_GT_APP_USER;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>